In [1]:
import pandas as pd
import numpy as np

In [3]:
# Load legality
legality_df = pd.read_csv("resources/State_Legality_Cannabis.csv")
legality_df.head()

        State  Recreational  Rec Year Legalized  Medical  Med Year Legalized
0     Alabama             0                 0.0        1                2021
1      Alaska             1              2014.0        1                1998
2     Arizona             1              2020.0        1                2010
3    Arkansas             0                 0.0        1                2016
4  California             1              2016.0        1                1996

In [6]:
# Get Data Types
legality_df.dtypes

State                  object
Recreational            int64
Rec Year Legalized    float64
Medical                 int64
Med Year Legalized      int64
dtype: object

In [8]:
# fill null values with 0
legality_df = legality_df.fillna(0)
legality_df.head()

        State  Recreational  Rec Year Legalized  Medical  Med Year Legalized
0     Alabama             0                 0.0        1                2021
1      Alaska             1              2014.0        1                1998
2     Arizona             1              2020.0        1                2010
3    Arkansas             0                 0.0        1                2016
4  California             1              2016.0        1                1996

In [9]:
# Convert Rec Year Legalized to int64
legality_df["Rec Year Legalized"] = legality_df["Rec Year Legalized"].astype(int)
legality_df

,State,Recreational,Rec Year Legalized,Medical,Med Year Legalized
0,Alabama,0,0,1,2021
1,Alaska,1,2014,1,1998
2,Arizona,1,2020,1,2010
3,Arkansas,0,0,1,2016
4,California,1,2016,1,1996
5,Colorado,1,2012,1,2000
6,Connecticut,1,2021,1,2012
7,Delaware,0,0,1,2011
8,District of Columbia,1,2015,1,2011
9,Florida,0,0,1,2016
10,Georgia,0,0,1,2015
11,Hawaii,0,0,1,2000
12,Idaho,0,0,0,0
13,Illinois,1,2019,1,2013
14,Indiana,0,0,0,0
15,Iowa,0,0,1,2017
16,Kansas,0,0,0,0
17,Kentucky,0,0,0,0
18,Louisiana,0,0,1,2015
19,Maine,1,2016,1,1999
20,Maryland,0,0,1,2013
21,Massachusetts,1,2016,1,2012
22,Michigan,1,2018,1,2008
23,Minnesota,0,0,1,2014
24,Mississippi,0,0,1,2022
25,Missouri,0,0,1,2018
26,Montana,1,2020,1,2004
27,Nebraska,0,0,0,0
28,Nevada,1,2016,1,1998
29,New Hampshire,0,0,1,2013
30,New Jersey,1,2020,1,2010
31,New Mexico,1,2021,1,2007
32,New York,1,2021,1,2014
33,North Carolina,0,0,0,0
34,North Dakota,0,0,1,2016
35,Ohio,0,0,1,2016
36,Oklahoma,0,0,1,2018
37,Oregon,1,2014,1,1998
38,Pennsylvania,0,0,1,2016
39,Rhode Island,1,2022,1,2006
40,South Carolina,0,0,0,0
41,South Dakota,0,0,1,2020
42,Tennessee,0,0,0,0
43,Texas,0,0,0,0
44,Utah,0,0,1,2018
45,Vermont,1,2020,1,2004
46,Virginia,1,2021,1,2020
47,Washington,1,2012,1,1998
48,West Virginia,0,0,1,2017
49,Wisconsin,0,0,0,0
50,Wyoming,0,0,0,0

In [10]:
legality_df.dtypes

State                 object
Recreational           int64
Rec Year Legalized     int64
Medical                int64
Med Year Legalized     int64
dtype: object